<% if plan.when %>
  <p>
    <strong>When:</strong>
    <%= plan.when %>
  </p>
<% end %>

<% if plan.description %>
  <p>
    <strong>Description:</strong>
    <%= plan.description %>
  </p>
<% end %>
